@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#0a0a0a,#3a4452);
    
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}

input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(84, 84, 84, 0.2);
    font-size: 40px;
    text-align: end;
    cursor: pointer;

}

input::placeholder{
    color:white;
}

button{
    border: none;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 45px;
    background: transparent;
    color: white;
    font-size: 25px;
    box-shadow: -6px -6px 15px rgba(255, 255, 255,0.1);
    cursor: pointer;
}
.equalbtn{
    background-color: #fb7c14;

}
.operator{
    color: #6dee0a;
}





